* {
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
    @include non-scrolbar;
}

html,
body {
    height: 100vh;
    min-width: 320px;
    width: 100vw;
}

body {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.ScrollYProgress {
    background-color: var(--accent-9);
    transform-origin: 0%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px !important;
}

.FatherWidth {
    max-width: 1440px;
    margin: 0 auto;
    overflow: auto;
    perspective: 1000px;

    // scroll-snap-type: y mandatory;
    // max-height: 100vh;
    // div {
    //     scroll-snap-align: start;
    // }
}
