.TitleBlock {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-5);
    perspective: 500px;
    max-height: 696px;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(
                -0.21turn,
                transparent,
                var(--cyan-2),
                var(--cyan-2)
            ),
            linear-gradient(
                -0.21turn,
                transparent,
                var(--cyan-2),
                var(--cyan-2)
            );
    }
}

.TitleImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: translateX(40%);
    position: relative;
    z-index: 0;
}

.TitleBoxFlex {
    max-width: 55%;
    height: 100%;
}

.TitleDescription {
    max-width: 85%;
}

.TitleBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.IntroductionBlock,
.ProcessBlock {
    border-radius: var(--radius-5);
}

.BusinessImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-5);
}

.BusinessImageBox {
    max-width: 50%;
}

.ProcessBlock {
    background-color: var(--cyan-2);
}

.ProcessList {
    counter-reset: newCounter;
}

.ProcessListItem {
    span {
        display: flex;
        gap: var(--space-5);
        align-items: center;
        word-break: keep-all;
    }
    ::before {
        counter-increment: newCounter;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-a3);
        content: counter(newCounter);
        border-radius: 50%;
    }
}
